# Python files
__pycache__/
*.py[cod]

# Env
.env
.venv

# IDE files
.idea

# Settings files
rdap_explorer/settings
!rdap_explorer/settings/base.py
!rdap_explorer/settings/example.py

# Local test files
*.sqlite3
