# Python files
__pycache__/
*.py[cod]

# Env
.env
.venv

# IDE files
.idea

# Settings files
rdap_explorer/settings
!rdap_explorer/settings/base.py

# Pipfile.lock.
# Committing this file makes it difficult to support multiple Python versions as
# requirements can different between versions, but the Pipfile only supports
# locking to one version.
Pipfile.lock
