##############################################
###   Dependencies for RDAP Explorer       ###
###                                        ###
### To install, run:                       ###
###      $ pip install -r requirements.txt ###
###                                        ###
##############################################

## Django web framework ##
django >= 2.2.2

## IP information lookup ##
ipwhois >= 1.0.0

## Country name lookup ##
pycountry >= 18.5.26