.nav {
    background-color: #689f38;
}

.nav a {
    color: #fff;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    padding-right: 2rem;
    text-decoration: none;
    vertical-align: middle;
}

.query {
    background-color: #9ccc65;
}

.results {
    background-color: #fff;
}

.what-is {
    background-color: #e8f5e9;
}
