.header, .footer {
    background-color: #689f38;
}

.header a {
    color: #fff;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    padding-right: 2rem;
    text-decoration: none;
    vertical-align: middle;
}

.query {
    background-color: #9ccc65;
}

.results {
    background-color: #fff;
}

.result-tree {
    max-height: 500px;
    overflow-y: scroll;
}

.info {
    background-color: #e8f5e9;
}

footer {
    color: #fff;
    text-align: center;
}
