{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | RDAP Explorer</title>
    <link rel="stylesheet" href="{% static "css/spectre.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script src="{% static "js/json-formatter.js" %}"></script>
</head>
<body class="container">
<div class="columns nav">
    <div class="column">
        <header class="navbar">
            <section class="navbar-section">
                <a href="/" class="navbar-brand">
                    <i class="icon icon-pages"></i> RDAP Explorer
                </a>
            </section>
        </header>
    </div>
</div>
<div class="columns">
    <div class="column col-xl-6 col-lg-12 query">
       <h3>Query</h3>
        <form action="/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    {{ form }}
                    <input type="submit" class="btn btn-primary input-group-btn btn-lg" value="Explore" />
                </div>
            </div>
        </form>
    </div>
    <div class="column col-xl-6 col-lg-12 results">
        {% if error %}
            <div class="error">
                <h3>Error</h3>
                {{ error }}
            </div>
        {% elif result %}
            <h3>Results</h3>
            <div id="result"></div>
            <script>
                var result = document.getElementById('result');
                var formatter = new JSONFormatter({{ result|safe }}, 1);
                result.innerHTML = '';
                result.appendChild(formatter.render());
            </script>
        {% endif %}
    </div>
</div>
</body>
</html>
